
body {
    background-color: var(--color-page-background); 
    color: var(--color-text); 
}
.dark__mode{
    --color-page-background: #{$bg-dark} !important ;
    --color-text: #{$white} !important;
    --color-sidebar-background: #{$bg-sidebar-dark};
    --color-component-background: #{$bg-component-dark};
    --bg-hover-sidebar:#{$bg-hover-menu-dark};
}
// * {
//     transition: all .2s ease-in-out;
// }